@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@0;1&family=Roboto:ital,wght@0,400;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    color: #121212;
    background-color: #F5F5F5;
}

header {
    height: 120px;
}

/* Headings and Logo */

h1 {
    font-family: Roboto Condensed, sans-serif;
    color: #121212;
    text-transform: uppercase;
}

h2,
h3 {
    font-family: Roboto Condensed, sans-serif;
    color: #F05454;
    text-transform: uppercase;
}

#logo {
    float: left;
    font-size: 180%;
    text-decoration: none;
    margin-left: 40px;
}

/* Main Navigation Bar */

#main-nav {
    float: right;
    text-decoration: none;
    margin-right: 40px;
}

#main-nav,
#logo {
    line-height: 120px;
}

#main-nav li {
    display: inline;
    list-style-type: none;
    font-family: Roboto Condensed, sans-serif;
    font-size: 150%;
    text-transform: uppercase;
    margin: 0 15px;
}

#main-nav a {
    text-decoration: none;
    color: #121212;
}

#main-nav a:hover {
    color: #F05454;
}

/* Main home image */

#img-container {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#home-img {
    height: 600px;
    width: 90%;
    background: url('../images/two-mechanics.jpg') no-repeat center center;
    background-size: cover;
    margin: 0 5%;
}

/* Main home page section*/

#main {
    height: 950px;
    width: 100%;
    background-color: #F5F5F5;
}

/* 3 x main section div containers */

.info {
    height: 300px;
    width: 90%;
    margin: 1.5% 5%;
    background-color: #30475E;
    border: 2px solid #121212;
}

/* Information container */

.container {
    float: left;
    color: #d0d1d3;
    width: 50%;
    height: 100%;
    box-sizing: content-box;
    overflow: hidden;
    position: relative;
    transition: 1s;
}

/* Testimonial image */

#test-img-cont img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

/* Text Containers (had to research transform to figure out how to center both vertically and horizontally (W3schools), below is my original code

.words {
    text-align: center;
    width: 90%;
    border: 1px solid black;
    margin: 50px auto;
    padding: 50px 0;
} 
*/

.words {
    text-align: center;
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.words p {
    font-size: 1.5em;
}

.words h3 {
    font-weight: 300;
    font-style: italic;
    padding-top: 10px;
}

.words h2 {
    text-decoration: underline;
    font-size: 2em;
    padding-bottom: 10px;
}

/* Servicing button */

#serv-button-cont {
    background: url(../images/crank-repair.jpg) no-repeat center center;
    background-size: cover;
}

#serv-button {
    background-color: #F05454;
    font-family: Roboto Condensed, sans-serif;
    color: #121212;
    text-align: center;
    font-size: 1.5em;
    padding: 20px 30px;
    position: absolute;
    top: 50%;
    left: 30%;
    cursor: pointer;
    border: 2px solid #121212;
    border-radius: 5px;
}

/* Button hover effect */

#serv-button:hover,
.book-now:hover {
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

/* Map */

#map-cont iframe {
    width: 100%;
}

/* Opening times table */

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.container:hover, .serv-box:hover, #booking-form:hover {
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.24), 0 20px 50px 0 rgba(46, 45, 45, 0.657);
}

/* Footer */

footer {
    padding: 30px 40px;
    margin-top: 15px;
    color: #d0d1d3;
    background-color: #2e455cc8;

}

footer ul {
    list-style: none;
    display: inline-block;
}

#contact-info {
    font-size: 1.1em;
}

/* Social Icons */

.social-icons {
    float: right;
    margin
}

.social-icons>li {
    display: inline;
}

.social-icons i {
    font-size: 200%;
    text-decoration: none;
    color: #d0d1d3;
    margin-left: 2em;
}

.social-icons i:hover {
    color: #F05454;
}

/* Services.html Styling */

.services-main {
    width: 90%;
    height: 600px;
    margin: 10px 5% 20px 5%;
    background: url(../images/workshop.jpg);
    background-size: cover;
    position: relative;
}

.serv-box {
    float: left;
    width: 30%;
    height: 500px;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
    margin: 50px 1.66%;
    overflow: hidden;
    transition: 1s;
}

.serv-box h1,
form h1 {
    text-decoration: underline;
    font-size: 2em;
    margin: 1em auto;
}

.serv-box ul {
    list-style: none;
    text-align: left;
}

.serv-box li:before {
    content: '✓';
    font-size: 1.2em;
}

/* Book now button */

.book-now {
    background-color: #F05454;
    font-family: Roboto Condensed, sans-serif;
    color: #121212;
    text-align: center;
    font-size: 1.5em;
    padding: 20px 30px;
    display: inline-block;
    cursor: pointer;
    border: 2px solid #121212;
    border-radius: 5px;
    margin: 40px 0;
}

/* service types styling */

#leisure {
    background-color: rgba(43, 107, 172, 0.9);
}

#weekend {
    background-color: rgba(229, 185, 115, 0.9);
}

#pro {
    background-color: rgba(208,209,211, 0.9);
}

/* form.html styling */

#booking-form {
    width: 75%;
    height: 90%;
    margin: 0;
    text-align: center;
    background-color: rgba(240, 84, 84, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 1s;
}

/* form.html Style inputs */

#booking-form input,
select {
    padding: 5px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #F5F5F5;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-divider {
    width: 45%;
    float: left;
    margin: 1% 2.5%;
}

#terms {
    max-width: 70%;
    height: 10%;
    border: 2px solid #121212;
    text-align: left;
    position: relative;
    left: 15%;
    overflow: scroll;
    margin-top: 8px;
}

/* Team Page */

#team-image-container {
    background-color: rgba(245, 245, 245, 0.9);
}

#team-img {
    max-width: 120%;
    position: relative;
    right: 20%;
}