@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@0;1&family=Roboto:ital,wght@0,400;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    color: #121212;
    background-color: #F5F5F5;
}

header {
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
}

/* Headings and Logo */

h1 {
    font-family: Roboto Condensed, sans-serif;
    color: #121212;
    text-transform: uppercase;
}

h2,
h3 {
    font-family: Roboto Condensed, sans-serif;
    color: #F05454;
    text-transform: uppercase;
}

/* Logo and Main Navigation Bar */

#logo {
    font-size: 180%;
    text-decoration: none;
}

#main-nav,
#logo {
    line-height: 120px;
}

#main-nav li {
    display: inline;
    list-style-type: none;
    font-family: Roboto Condensed, sans-serif;
    font-size: 150%;
    text-transform: uppercase;
    margin: 0 15px;
}

#main-nav a {
    text-decoration: none;
    color: #121212;
}

#main-nav a:hover {
    color: #F05454;
}

/* Main home image */

#img-container {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#home-img {
    height: 600px;
    width: 90%;
    background: url('../images/two-mechanics.jpg') no-repeat center center;
    background-size: cover;
    margin: 0 5%;
}

/* Main home page section*/

#main {
    height: 950px;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

/* 3 x main section div containers */

.info {
    height: 300px;
    width: 90%;
    background-color: #42526e;
    border: 2px solid #121212;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Information container */

.container {
    color: #d0d1d3;
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

/* Testimonial image */

#test-img-cont img {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}

/* Text Containers (had to research transform to figure out how to center both vertically and horizontally (W3schools), below is my original code

.words {
    text-align: center;
    width: 90%;
    border: 1px solid black;
    margin: 50px auto;
    padding: 50px 0;
} 
*/

.words {
    text-align: center;
    width: 90%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.words p {
    font-size: 1.5em;
}

.words h3 {
    font-weight: 300;
    font-style: italic;
    padding-top: 10px;
}

.words h2 {
    text-decoration: underline;
    font-size: 2em;
    padding-bottom: 10px;
}

/* Servicing button */

#serv-button-cont {
    background: url(../images/crank-repair.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#serv-button {
    height: fit-content;
    background-color: #F05454;
    font-family: Roboto Condensed, sans-serif;
    color: #121212;
    text-align: center;
    font-size: 1.5em;
    padding: 20px 30px;
    margin-top: 150px;
    cursor: pointer;
    border: 2px solid #121212;
    border-radius: 5px;
}

/* Button hover effect */

#serv-button:hover,
.book-now:hover {
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
}

/* Map */

#map-cont iframe {
    width: 100%;
}

/* Opening times table */

table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.container:hover,
.serv-box:hover,
#booking-form:hover {
    box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.24), 0 20px 50px 0 rgba(46, 45, 45, 0.657);
}

/* Footer */

footer {
    padding: 30px 40px;
    margin-top: 15px;
    color: #ffffff;
    background-color: #2e455cc8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul {
    list-style: none;
}

#contact-info {
    font-size: 1.1em;
}

/* Social Icons */

.social-icons {
    display: inherit;
}

.social-icons i {
    font-size: 200%;
    text-decoration: none;
    color: #ffffff;
    margin-left: 2em;
}

.social-icons i:hover {
    color: #F05454;
}

/* Services.html Styling */

.services-main {
    height: 600px;
    margin: 20px 5%;
    background: url(../images/workshop.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.serv-box {
    width: 30%;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.serv-box h1,
form h1 {
    text-decoration: underline;
    font-size: 2em;
    margin: 1em auto;
}

.serv-box ul {
    list-style: none;
    text-align: left;
    display: inline-block;
}

.serv-box li:before {
    content: '✓';
    font-size: 1.2em;
}


/* Book now button */

.book-now {
    background-color: #F05454;
    font-family: Roboto Condensed, sans-serif;
    color: #121212;
    text-align: center;
    font-size: 1.5em;
    padding: 20px 30px;
    display: inline-block;
    cursor: pointer;
    border: 2px solid #121212;
    border-radius: 5px;
    margin: 40px 0;

}

/* service types styling */

#leisure {
    background-color: rgba(87, 170, 255, 0.9);
}

#weekend {
    background-color: rgba(253, 255, 130, 0.9);
}

#pro {
    background-color: rgba(250, 252, 255, 0.9);
}

/* form.html styling */

#booking-form {
    width: 75%;
    margin: 30px auto;
    text-align: center;
    padding: 20px 40px;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* form.html Style inputs */

#booking-form input,
select {
    width: 100%;
    padding: 5px 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #3a3a3a;
    border-radius: 3px;
    box-sizing: border-box;
}

.form-divider {
    width: 45%;
    float: left;
    margin: 20px 0;
    text-align: left;
}

#terms {
    height: 50px;
    width: 70%;
    border: 2px solid #121212;
    text-align: left;
    overflow: scroll;
    margin: 20px auto;
}

#diagnosis {
    width: 100%;
    min-height: 10em;
}

/* Team Page */

#team-image-container {
    background-color: rgba(245, 245, 245, 0.9);
}

#team-img {
    max-width: 120%;
    position: relative;
    right: 20%;
}

/* Media Queries */


/* For Medium/ Tablet Screen Sizes */

@media screen and (max-width: 950px) {

    header {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .services-main {
        flex-direction: column;
        height: 1600px;
        align-content: center;
        justify-content: space-evenly;
    }

    .serv-box {
        width: 90%;
    }

}

/* For Small Screen/ Large Phone Screen Sizes */

@media screen and (max-width: 600px) {

    #main {
        height: 2000px;
    }

    .info {
        height: 600px;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .container {
        width: 100%;
    }

    .social-icons {
        display: inline;
        text-align: center;

    }

}

/* For Screen Sizes of Large to Small Phones */

@media screen and (max-width: 500px) {

    #img-container {
        height: 400px;
    }

    #home-img {
        height: 100%;
        width: auto;
        margin: 0;
    }

    .info {
        width: 100%;
    }

    .services-main {
        margin: 0;
    }

    .serv-box {
        width: 100%;
    }

    #booking-form {
        width: 100%;
        padding: 0;
        margin: 0;
        flex-direction: column;
    }

    .form-divider {
        margin: 0 20px;
    }
}
