@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@0;1&family=Roboto:ital,wght@0,400;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    color: #121212;
    background-color: #F5F5F5;
}

/* Headings and Logo */

h1, h2, h3 {
    font-family: Roboto Condensed, sans-serif;
    color: #121212;
    text-transform: uppercase;
}

#logo {
    float: left;
    font-size: 180%;
    text-decoration: none;
    margin-left: 40px;
}

/* Main Navigation Bar */ 

#main-nav {
    float: right;
    text-decoration: none;
    margin-right: 40px;
}

#main-nav, #logo {
    line-height: 100px;
}

#main-nav li {
    display: inline;
    list-style-type: none;
    font-family: Roboto Condensed, sans-serif;
    font-size: 150%;
    text-transform: uppercase;
    margin: 0 15px;
}

#main-nav a {
    text-decoration: none;
    color: #121212;
}

#main-nav a:hover {
    color: #F05454;
}

/* Main home image */

#img-container {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#home-img {
    height: 600px;
    width: 90%;
    background: url('../images/two-mechanics.jpg') no-repeat center center;
    background-size: cover;
    margin: 0 5%;
}

/* Main home page section*/

#main {
    height: 900px;
    width: 100%;
    margin: 0;
    padding-top: 10px;
    background-color: #F5F5F5;
    position: relative;
}

/* 3 x main section div containers */

#main > div {
    height: 30%;
    width: 90%;
    box-sizing: border-box;
    margin: 1.5% 5%;
    background-color: #30475E;
    border: 2px solid #121212;
}


    
